<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<processors>
			<uiMoveItems>
				<processor mode="on" type="MoveValidator.Library.CustomSitecore.Pipeline.CustomMoveItems,MoveValidator.Library" method="ConstrainMove" />
			</uiMoveItems>

			<uiDragItemTo>
				<processor mode="on" type="MoveValidator.Library.CustomSitecore.Pipeline.CustomDragItemTo,MoveValidator.Library" method="ConstrainDragTo" />
			</uiDragItemTo>

			<uiCopyItems>
				<processor mode="on" type="MoveValidator.Library.CustomSitecore.Pipeline.CustomCopyItems,MoveValidator.Library" method="ConstrainMove" />
			</uiCopyItems>
		</processors>
		
		<commands>
			<command name="item:pastefromclipboard" type="Sitecore.SharedSource.ExpressUrl.CustomSitecore.Commands.CustomPasteFromClipBoard,Sitecore.SharedSource.MoveValidator" />
		</commands>
	</sitecore>
</configuration>