<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<processors>
			<uiMoveItems>
				<processor mode="on" type="Sitecore.SharedSource.MoveValidator.CustomSitecore.Pipelines.CustomMoveItems,Sitecore.SharedSource.MoveValidator" method="ConstrainMove" patch:before="*[@method='Execute']" />
			</uiMoveItems>

			<uiDragItemTo>
				<processor mode="on" type="Sitecore.SharedSource.MoveValidator.CustomSitecore.Pipelines.CustomDragItemTo,Sitecore.SharedSource.MoveValidator" method="ConstrainDragTo" patch:before="*[@method='Execute']" />
			</uiDragItemTo>

			<uiCopyItems>
				<processor mode="on" type="Sitecore.SharedSource.MoveValidator.CustomSitecore.Pipelines.CustomCopyItems,Sitecore.SharedSource.MoveValidator" method="ConstrainMove" patch:before="*[@method='Execute']" />
			</uiCopyItems>
		</processors>
		
		<commands>
			<command name="item:pastefromclipboard">
				<patch:attribute name="type">Sitecore.SharedSource.MoveValidator.CustomSitecore.Commands.CustomPasteFromClipBoard,Sitecore.SharedSource.MoveValidator</patch:attribute>
			</command>
		</commands>
	</sitecore>
</configuration>