<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<processors>
			<uiMoveItems>
				<processor mode="on" type="Sitecore.SharedSource.MoveValidator.CustomSitecore.Pipelines.CustomMoveItems,Sitecore.SharedSource.MoveValidator" method="ConstrainMove" />
			</uiMoveItems>

			<uiDragItemTo>
				<processor mode="on" type="Sitecore.SharedSource.MoveValidator.CustomSitecore.Pipelines.CustomDragItemTo,Sitecore.SharedSource.MoveValidator" method="ConstrainDragTo" />
			</uiDragItemTo>

			<uiCopyItems>
				<processor mode="on" type="Sitecore.SharedSource.MoveValidator.CustomSitecore.Pipelines.CustomCopyItems,Sitecore.SharedSource.MoveValidator" method="ConstrainMove" />
			</uiCopyItems>
		</processors>
		
		<commands>
			<command name="item:pastefromclipboard" type="Sitecore.SharedSource.MoveValidator.CustomSitecore.Commands.CustomPasteFromClipBoard,Sitecore.SharedSource.MoveValidator" />
		</commands>
	</sitecore>
</configuration>